html, body{
    min-height: 100%;
    min-width: 100%;
}

body{
    background-color: #252525;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    font-size: 12pt;
    color: lightgray;
}
h1, h2, h3, h4, h4, h5, h6, button{
    font-family: bitter, bree-serif;
    font-weight: bolder;
}
h1, h2, h3, h4, h4, h5, h6{
    color: whitesmoke;
}
input, button, label{
    padding: 1rem;
    border-radius: 85px;
    outline: none;
}

a:link{
    color: #46D7FF;
    text-decoration: none;
}a:visited{
    color: #959780;
    text-decoration: none;
}

button:hover{
    cursor: pointer;
}

.master{
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    display: flex;
    height: fit-content;
}

footer{
    background-color: #1e1e1e;
    padding: 10px;
    height: fit-content;
    right: 0px;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica;
}footer img{
    max-height: 12pt;
    max-width: 12pt;
    margin: auto 5px;
    border-radius: 49%;
}

.rules{
    max-width: 22rem;
    height: fit-content;
    padding: 5px 10px 75px;
    background-color: #1e1e1e;
    top: 0%;
    right: 0%;
    border: 0%;
}

.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    right: 0;
    top: 0;
    width: calc(100% - 22rem);
}.game-container img{
    max-width: 17rem;
    /* max-height: 22rem; */
}

#cardSpitter{
    background-color: darkgray;
    border: 0.2rem solid darkgray;
    border-radius: 42%;
    font-size: 1.4rem;
    margin: 2rem;
    width: calc(17rem - 0.8rem);
    box-shadow: 0rem 0rem 1rem #68EAE7;
    text-shadow: 0rem 0rem 0.1rem #68EAE7;
    color: #68eae7;
}
#cardSpitter:active {
    background-color: #787360;
    border: 0.2rem solid #787360;
    border-radius: 42%;
    box-shadow: 0rem 0rem 0rem #5CD1CF;
    text-shadow: 0rem 0rem 0rem #5CD1CF;
    color: #5CD1CF;
}

.lucky-guess{
    border-radius: 85px;
    border: 1vh solid #1e1e1e;
    background: lightsalmon;
    margin: 0.6vh;
    padding: 0.6vh;
}
#inputGuess{
    border: 5px solid lightsalmon;
    background: lightsalmon;
    min-width: 14rem;
}
#buttonGuess{
    background: #f1f012;
    border-right: 4px solid #737308;
    border-bottom: 4px solid #737308;
    border-left: 0px solid #f1f012;
    border-top: 0px solid #f1f012;
    box-shadow: 0px 0px 1.6vh #595c55;
    margin: none;
}#buttonGuess:active{
    border: 2px solid #f1f012;
    border-right: 2px solid #f1f012;
    border-bottom: 2px solid #f1f012;
    border-left: 2px solid #f1f012;
    border-top: 2px solid #f1f012;
    box-shadow: 0px 0px 0vh #595c55;
    margin: none;
}

.clues{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
}

.finalStatement{
    display: block;
    margin: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-style: oblique;
    font-size: larger;
    text-align: center;
}

.lastGuesses{
    background: lightsalmon;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.6vh 0.6vw;
    margin: 0.6vh;
    border: 0.3rem solid #1e1e1e;
    -webkit-text-fill-color: #1e1e1e;
    height: fit-content;
}