body{
    background-color: #252525;
    font-family: sans-serif;
    color: whitesmoke;
}
footer{
    background-color: #1e1e1e;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    font-family: Arial, Helvetica;
}footer img{
    max-height: 12pt;
    max-width: 12pt;
    margin: auto 5px;
}

.rules{
    max-width: 250px;
}

.card-container{
    position: center;
}