body{
    background-color: #252525;
    font-family: sans-serif;
    margin: 0%;
    font-size: 12pt;
    color: #84E6FC;
} body h1, h2, h3, h4, h4, h5, h6{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e3d068;
}
.master{
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    display: flex;
    height: fit-content;
}

footer{
    background-color: #1e1e1e;
    padding: 10px;
    height: fit-content;
    right: 0px;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}footer img{
    max-height: 12pt;
    max-width: 12pt;
    margin: auto 5px;
}footer strong, b{
    color: #637db3;
}

.rules{
    max-width: 350px;
    padding: 5px 10px 75px;
    background-color: #1e1e1e;
    top: 0%;
    right: 0%;
    border: 0%;
}

.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    right: 0;
    top: 0;
    width: calc(100% - 350px)
}.game-container img{
    max-width: 250px;
    max-height: 250px;
}

input{
    border: 2px solid #49484e;
    border-right-width: 0px;
    padding: 10px;
    border-radius: 25px 0px 0px 25px;
    outline: none;
}button{
    border: 2px solid #49484e;
    border-left-width: 0px;
    padding: 10px;
    background-color: silver;
    border-radius: 0px 25px 25px 0px;
    outline: none;
}
.clues{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}